@font-face {
	font-family: "CaviarDreams";
	src: url(./CaviarDreams_Bold.ttf) format("truetype");
}

* {
	font-family: CaviarDreams, sans-serif;
}

#t {
	position: absolute;
	bottom: 10;
	right: 20;
	color: grey;
}
